@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-size: 62.5%;
  body {
    font-family: "Roboto", sans-serif;
  }
}
.container {
  background-blend-mode: lighten;
  background-image: url("../images/image/calendarclock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(242, 242, 242, 0.75);
  height: 100vh;
  .introWrapper {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .title {
      margin: 0.5rem;
      color: #000080;
    }
    .block {
      margin: 2rem;
      font-size: 1.2rem;
      .intro__question {
        color: #000099;
      }
      .intro__text {
        margin: 0.8rem;
      }
    }
  }
  .columns {
    margin: 1.5rem;
    .column {
      padding: 1rem;
      .title__date,
      .title__time {
        color: #0000b3;
      }
      .title__date__cal,
      .title__date__clock {
        display: none;
        fill: #0000b3;
      }
      .title__date__askedDate,
      .title__date__askedTime {
        color: #0000ff;
      }
      .field {
        padding-left: 1rem;
        .label {
          color: #0000b3;
        }
        .input {
          width: 50%;
        }
        .button.is-primary {
          width: 20%;
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          margin-top: 0.5rem;
          background-color: #0000ff;
          font-weight: 500;
          &:hover {
            background-color: #0000cc;
          }
          .button__arrow {
            display: block;
            fill: white;
          }
        }
      }
    }
  }
}
